OPENAI_API_KEY=sk-your-key-here
DATABASE_URL=<get from zach and copy to .env>
SUPABASE_URL=https://ecjvlkfqofhucvleiesz.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_F3zxQ5FHWY3vFsdRBJsjdw_1ApH-zQg
GITHUB_TOKEN=<get from developer settings>
LINEAR_API_KEY=
LINEAR_MCP_HTTP_URL=https://mcp.linear.app/mcp